body {
	text-align: center;
	background: #aaf;
}

.board-container {
	display: inline-block;
	margin: 1em;
}

.player-name {
	text-align: center;
	font-size: 16pt;
	width: 98%;
}

.board {
	border-collapse: collapse;
}

.board th, .board td {
	width: 32px;
	height: 32px;
	border: 1px solid white;
}

.board th {
	background: black;
	color: white;
}

.board td {
	background: #44c;
	position: relative;
}

.board td:before {
	content: "🌫️";
}

.board td.hit {
	background: #cc1;
}

.board td.hit:before {
	content: "✖️";
}

.board td.ship {
	background: #aaa;
}

.board td.ship:before {
	content: "⚪";
}


.board td.ship.hit {
	background: #a22;
}

.board td.ship.hit:before {
	content: "💥";
}

.board td:before {
	position: absolute;
	left: 0;
	top: 6px;
	width: 100%;
	pointer-events: none;