body {
	text-align: center;
	background-image: url("ship_image_resize.jpg");
	background-repeat: no-repeat;
	/*
	max-width: 100%;
	max-height: 100%;
	background: #aaf;
	*/
}

.board-container {
	display: inline-block;
	margin: 1em;
}

.player-name {
	text-align: center;
	font-size: 16pt;
	width: 98%;
}

.board {
	/*
		Water background, waves
	*/
	border-collapse: collapse;
	background-image: linear-gradient(22deg, #1aa3ff 1%, #006bb3 20%, #1aa3ff 50%, #006bb3 70%, #1aa3ff 100%);
}

.board th, .board td {
	width: 32px;
	height: 32px;
	border: 1px solid white;
}

.board th {
	background: black;
	color: white;
}

.board td {
	background-image: radial-gradient(rgba(128,128,128,0.7) 30%, transparent 30%, transparent 100%);
	position: relative;
}


.board td.miss {
	/*
		Miss shot, yellow
	*/
	background-image: radial-gradient(#a5a50d 30%, #f0f042 30%, #f0f042 60%, transparent 40%);
}

.board td.ship {
	/*
		Ship cell, grey
	*/
	background: #7b9095;
}
.board td.hit{
	/*
		Shell hit ship, ship is hidden, red
	*/
	background-image: radial-gradient(#951d1d 30%, #c02626 30%, #c02626 60%, Transparent 40% );
}
.board td.ship.hit {
	/*
		Shell hit ship cell, red & grey
	*/
	background-image: radial-gradient(#951d1d 30%, #c02626 30%, #c02626 60%, #7b9095 40% );
}

.board td:before {
	position: absolute;
	left: 0;
	top: 6px;
	width: 100%;
	pointer-events: none;
